@media (max-width: 575px) {  
.header {
    &__logo {
        img {
            width: 80%;
        }
    }
    &__official {
        display: none;
        }
    &__phone {
        font-size: 14px;
    }
    .button {
        width: 133px;
    }
}
.promo {
    &__header {
        font-weight: 700;
        font-size: 25px;
        margin: 20px auto;
    }
    &__subheader {
        font-size: 15px;
        margin: 0 auto;
        text-align: center;
    }
    &__wrapper {

        align-items: center;
    }
    &__icons {
        width: 318px;
    }
    .button__main {
        width: 260px;
        margin: 67px auto;
    }
    &__link {
            margin-top: -46px;
    }
}
.advantages {
    padding: 30px 0 65px 0;
    h2.title {
        font-size: 24px;
    }
    &__wrapper {
        flex-direction: column;
        margin-top: 10px;
    }
    &__item {
        margin: 20px auto;
    }
    &__subtitle {
        font-size: 22px;
    }
    &__descr {
        font-size: 20px;
        width: 310px;
    }
}
}
