.carousel {
    padding: 81px 0;
    // по горизонтали и по вертикали
    &__inner {
        position: relative;
        width: 80%;
        margin: 0 auto;
    }
    .slick-prev, .slick-next {
        position: absolute;
        top: 50%;
        border: none;
        background-color: #fff;
        transform: translateY(-50%);
        left: -66px;
        img{
            width: 31px;
            height: 50px;
        }       
    }
    .slick-next {
        right: -66px;
        left: auto;
        // если нужно выключить лефт ставим в позицию авто
    }
}
    // если используем tiny slider
    // .tns-item {
    //     img {
    //         display: block;
    //         margin: 0 auto;
    //     }
    // }
    // чтобы застилизовать кнопки
    // .tns-nav {
    //     background-color: red;
    // }
    // кнопка активного слайдера будет подсвечиваться синим цветом
    //         .tns-nav-active {
    //             background-color: blue;
    // }


