* {
  font-family: "Museo Sans Cyrl", sans-serif;
}

.container {
  max-width: 997px;
  margin: 0 auto;
}

.promo {
  min-height: 650px;
  padding: 21px 0 93px 0;
  background: url(../img/main_bg.png) center center/cover no-repeat;
}
.promo__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 90px;
}
.promo__header {
  font-weight: 700;
  font-size: 42px;
  text-align: right;
  text-transform: uppercase;
  color: #FFFFFF;
  line-height: 42px;
}
.promo__subheader {
  margin-top: 17px;
  font-weight: 500;
  font-size: 24px;
  text-align: right;
  text-transform: uppercase;
  color: #FFFFFF;
  line-height: 24px;
}
.promo__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: space-between;
          flex-direction: space-between;
  margin-top: 65px;
  width: 425px;
}
.promo__icon {
  width: 108px;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #FFFFFF;
}
.promo__icon img {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}
.promo__link {
  margin-top: 18px;
  font-weight: 500;
  font-size: 16px;
  text-align: right;
  color: #FFFFFF;
}
.promo__link a {
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: underline;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  width: 250px;
}
.header__logo img {
  width: 100%;
}
.header__official {
  font-weight: 500;
  font-size: 12px;
  color: #FFFFFF;
  text-align: center;
}
.header__official span {
  display: block;
  font-size: 18px;
}
.header__phone {
  display: block;
  font-weight: 700;
  font-size: 18px;
  text-align: right;
  color: #FFFFFF;
}
.header__phone:hover {
  color: #fff;
  text-decoration: none;
}
.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.button {
  width: 153px;
  height: 32px;
  border-radius: 5px;
  background-color: #C70101;
  border: none;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.button_main {
  width: 303px;
  height: 54px;
  font-size: 16px;
  margin-top: 67px;
}
.button_submit {
  width: 100%;
  height: 55px;
  border-radius: 5px;
  font-size: 16px;
}

.advantages {
  padding: 70px 0 65px 0;
  min-height: 465px;
  background: #F6F6F6;
}
.advantages h2.title {
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  color: #0D0D0D;
}
.advantages__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 60px;
}
.advantages__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: -webkit-min-content;
  min-height: -moz-min-content;
  min-height: min-content;
  width: 260px;
  margin: 0 auto;
}
.advantages__item img {
  width: 70px;
  height: 70px;
}
.advantages__subtitle {
  font-weight: 700;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: center;
  color: #0D0D0D;
  margin-top: 30px;
}
.advantages__descr {
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #0D0D0D;
  margin-top: 20px;
}
.advantages__descr a {
  color: #FF0000;
  text-decoration: underline;
}

@media (max-width: 575px) {
  .header__logo img {
    width: 80%;
  }
  .header__official {
    display: none;
  }
  .header__phone {
    font-size: 14px;
  }
  .header .button {
    width: 133px;
  }
  .promo__header {
    font-weight: 700;
    font-size: 25px;
    margin: 20px auto;
  }
  .promo__subheader {
    font-size: 15px;
    margin: 0 auto;
    text-align: center;
  }
  .promo__wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .promo__icons {
    width: 318px;
  }
  .promo .button_main {
    width: 260px;
    margin: 67px auto;
  }
  .promo__link {
    margin-top: -46px;
  }
  .advantages {
    padding: 30px 0 65px 0;
  }
  .advantages h2.title {
    font-size: 24px;
  }
  .advantages__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 10px;
  }
  .advantages__item {
    margin: 20px auto;
  }
  .advantages__subtitle {
    font-size: 22px;
  }
  .advantages__descr {
    font-size: 20px;
    width: 310px;
  }
  .consultation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .consultation .title_left {
    font-size: 33px;
    line-height: 40px;
    padding-left: 10px;
  }
  .consultation__descr {
    padding-left: 10px;
  }
  .consultation .feed-form {
    margin: 36px auto;
  }
  .consultation .feed-form input {
    width: 100%;
  }
}
.consultation {
  min-height: 680px;
  background: url(../img/second_bg.png) center center/cover no-repeat;
  padding: 100px 0 92px 0;
}
.consultation__descr {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: left;
  color: #FFFFFF;
  margin-top: 8px;
}

.title {
  color: #0d0d0d;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
.title_left {
  font-size: 36px;
  line-height: 54px;
  text-align: left;
  color: #FFFFFF;
}

.feed-form {
  margin-top: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
}
.feed-form input {
  height: 54px;
  border-radius: 5px;
  background: #FFFFFF;
  margin-bottom: 15px;
  border: none;
  padding: 0 20px;
  font-weight: 300;
  font-size: 14px;
  color: #4B4B4B;
}
.feed-form input:nth-child(3) {
  margin-bottom: 20px;
}

.carousel {
  padding: 81px 0;
}
.carousel__inner {
  position: relative;
  width: 750px;
  margin: 0 auto;
}
.carousel .slick-prev, .carousel .slick-next {
  position: absolute;
  top: 50%;
  border: none;
  background-color: #fff;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -66px;
}
.carousel .slick-prev img, .carousel .slick-next img {
  width: 31px;
  height: 50px;
}
.carousel .slick-next {
  right: -66px;
  left: auto;
}/*# sourceMappingURL=style.css.map */