@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
* {
  font-family: "Museo Sans Cyrl", sans-serif;
}

.container {
  position: relative;
  max-width: 997px;
  margin: 0 auto;
}

.promo {
  min-height: 650px;
  padding: 21px 0 93px 0;
  background: url(../img/main_bg.png) center center/cover no-repeat;
}
.promo__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 90px;
}
.promo__header {
  font-weight: 700;
  font-size: 42px;
  text-align: right;
  text-transform: uppercase;
  color: #FFFFFF;
  line-height: 42px;
}
.promo__subheader {
  margin-top: 17px;
  font-weight: 500;
  font-size: 24px;
  text-align: right;
  text-transform: uppercase;
  color: #FFFFFF;
  line-height: 24px;
}
.promo__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-top: 65px;
  width: 425px;
}
.promo__icon {
  width: 108px;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #FFFFFF;
}
.promo__icon img {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}
.promo__link {
  margin-top: 18px;
  font-weight: 500;
  font-size: 16px;
  text-align: right;
  color: #FFFFFF;
}
.promo__link a {
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: underline;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  width: 250px;
}
.header__logo img {
  width: 100%;
}
.header__official {
  font-weight: 500;
  font-size: 12px;
  color: #FFFFFF;
  text-align: center;
}
.header__official span {
  display: block;
  font-size: 18px;
}
.header__phone {
  display: block;
  font-weight: 700;
  font-size: 18px;
  text-align: right;
  color: #FFFFFF;
}
.header__phone:hover {
  color: #fff;
  text-decoration: none;
}
.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.button {
  width: 153px;
  height: 32px;
  border-radius: 5px;
  background-color: #C70101;
  border: none;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.button:hover {
  -webkit-box-shadow: 2px 0 5px #FFFFFF;
          box-shadow: 2px 0 5px #FFFFFF;
}
.button_main {
  width: 303px;
  height: 54px;
  font-size: 16px;
  margin-top: 67px;
}
.button_submit {
  width: 100%;
  height: 55px;
  border-radius: 5px;
  font-size: 16px;
}
.button_mini {
  width: 135px;
  height: 44px;
  font-size: 14px;
  cursor: pointer;
}

.advantages {
  padding: 70px 0 65px 0;
  min-height: 465px;
  background: #F6F6F6;
}
.advantages h2.title {
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  color: #0D0D0D;
}
.advantages__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 60px;
}
.advantages__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: -webkit-min-content;
  min-height: -moz-min-content;
  min-height: min-content;
  width: 260px;
  margin: 0 auto;
}
.advantages__item img {
  width: 70px;
  height: 70px;
}
.advantages__subtitle {
  font-weight: 700;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: center;
  color: #0D0D0D;
  margin-top: 30px;
}
.advantages__descr {
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #0D0D0D;
  margin-top: 20px;
}
.advantages__descr a {
  color: #FF0000;
  text-decoration: underline;
}
.advantages__icon_animated {
  -webkit-animation: heartbeat 1.5s ease infinite;
          animation: heartbeat 1.5s ease infinite;
}
.advantages__icon_animated:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.consultation {
  min-height: 680px;
  background: url(../img/second_bg.png) center center/cover no-repeat;
  padding: 100px 0 92px 0;
}
.consultation__descr {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: left;
  color: #FFFFFF;
  margin-top: 8px;
}
.consultation .error {
  border: 1px solid red;
}
.consultation label.error {
  color: #FFFFFF;
  border: none;
  text-align: center;
  margin-bottom: 15px;
}

.title {
  color: #0d0d0d;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
.title_left {
  font-size: 36px;
  line-height: 54px;
  text-align: left;
  color: #FFFFFF;
}

.feed-form {
  margin-top: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
}
.feed-form input {
  height: 54px;
  border-radius: 5px;
  background: #FFFFFF;
  margin-bottom: 15px;
  border: none;
  padding: 0 20px;
  font-weight: 300;
  font-size: 14px;
  color: #4B4B4B;
}
.feed-form input:nth-child(3) {
  margin-bottom: 20px;
}
.feed-form_mt25 {
  margin-top: 25px;
}

.carousel {
  padding: 81px 0;
}
.carousel__inner {
  position: relative;
  width: 80%;
  margin: 0 auto;
}
.carousel .slick-prev, .carousel .slick-next {
  position: absolute;
  top: 50%;
  border: none;
  background-color: #fff;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -66px;
}
.carousel .slick-prev img, .carousel .slick-next img {
  width: 31px;
  height: 50px;
}
.carousel .slick-next {
  right: -66px;
  left: auto;
}

.catalog {
  padding-bottom: 100px;
}
.catalog__tabs {
  margin-top: 70px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
  padding-left: 0;
}
.catalog__tab {
  width: 222px;
  height: 52px;
  border: 2px solid #D0D0D0;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #6B6B6B;
  line-height: 48px;
  -webkit-transform: skewX(-25deg);
          transform: skewX(-25deg);
  margin: 0 5px;
  cursor: pointer;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
.catalog__tab:hover {
  -webkit-box-shadow: 3px 3px 20px #C70101;
          box-shadow: 3px 3px 20px #C70101;
  border: none;
}
.catalog__tab div {
  -webkit-transform: skewX(25deg);
          transform: skewX(25deg);
}
.catalog__tab_active {
  color: #fff;
  background-color: #C70101;
  border: none;
}
.catalog__content {
  margin-top: 60px;
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.catalog__content_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.catalog-item {
  width: 303px;
  min-height: 442px;
  border: 2px solid #e8e8e8;
  padding: 20px 20px 26px 20px;
  overflow: hidden;
  margin-bottom: 20px;
}
.catalog-item__img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: 200px;
}
.catalog-item__subtitle {
  margin-top: 20px;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #0D0D0D;
}
.catalog-item__descr {
  margin-top: 16px;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #0D0D0D;
}
.catalog-item__link {
  display: block;
  margin-top: 17px;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #C70101;
  text-transform: uppercase;
}
.catalog-item__link:hover {
  color: #C70101;
}
.catalog-item hr {
  background-color: #e8e8e8;
  margin-top: 19px;
  margin-bottom: 21px;
  border-bottom: none;
}
.catalog-item__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.catalog-item__old-price {
  font-weight: 300;
  font-size: 14px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #555555;
}
.catalog-item__price {
  font-weight: 700;
  font-size: 20px;
  color: #050505;
}
.catalog-item__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(200% + 40px);
}
.catalog-item__content {
  width: 50%;
  margin-right: 0px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
.catalog-item__content_active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  margin-right: 20px;
}
.catalog-item__list {
  position: relative;
  width: 50%;
  margin-left: 20px;
  padding-right: 20px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  padding-left: 19px;
  margin-bottom: 0;
  list-style-type: none;
}
.catalog-item__list_active {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  margin-left: 0px;
}
.catalog-item__list ul {
  padding-left: 5px;
}
.catalog-item__list li {
  position: relative;
  font-weight: 300;
  list-style-type: none;
  font-size: 14px;
  line-height: 21px;
  color: #555555;
  margin-bottom: 20px;
}
.catalog-item__list li:before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: #C70101;
  left: -14px;
  top: 7px;
}
.catalog-item__back {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(calc(-50% - 19px));
          transform: translateX(calc(-50% - 19px));
  display: block;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #C70101;
  text-transform: uppercase;
  bottom: 0;
}
.catalog-item__back:hover {
  color: #C70101;
}

.feedback {
  min-height: -webkit-min-content;
  min-height: -moz-min-content;
  min-height: min-content;
  padding: 0 130px 49px 99px;
}
.feedback__wrapper {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  justify-items: flex-start;
}
.feedback__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
}
.feedback__item img {
  width: 169px;
  height: 169px;
}
.feedback__text {
  padding: 0 60px;
}
.feedback__subtitle {
  font-weight: 700;
  font-size: 18px;
  color: #0D0D0D;
}
.feedback__count {
  font-weight: 500;
  font-size: 14px;
  color: #646464;
}
.feedback__descr {
  padding-top: 8px;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #0D0D0D;
}

.footer {
  height: 630px;
  position: relative;
}
.footer__info {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 460px;
  height: 270px;
  background: #C70101;
  padding: 50px 68px 60px 68px;
}
.footer__addr {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 36px;
  line-height: 20px;
}
.footer__phone {
  display: block;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #FFFFFF;
  line-height: 20px;
  margin-bottom: 38px;
}
.footer__phone:hover {
  color: #FFFFFF;
}
.footer__social-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  border: 2px solid #FFFFFF;
  border-radius: 100%;
  margin: 0 15px;
}
.footer__social-item img {
  height: 27px;
}
.footer__social-item:hover {
  -webkit-box-shadow: 5px 0 5px #FFFFFF;
          box-shadow: 5px 0 5px #FFFFFF;
}
.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.56);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 380px;
  min-height: 403px;
  background-color: #f2f2f2;
  padding: 38px 40px 40px 40px;
}
.modal__close {
  position: absolute;
  top: 0;
  right: -40px;
  font-size: 41px;
  line-height: 21px;
  color: #C70101;
  cursor: pointer;
}
.modal__subtitle {
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #0D0D0D;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.modal__descr {
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: #0D0D0D;
}
.modal_mini {
  min-height: 140px;
}
.modal .error {
  border: 1px solid red;
}
.modal label.error {
  border: none;
  text-align: center;
  margin-bottom: 15px;
}

#consultation, #order, #thanks {
  display: none;
}

.pageup {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 40px;
  height: 40px;
}
.pageup img {
  width: 100%;
}

@media (max-width: 575px) {
  .header__logo img {
    width: 80%;
  }
  .header__official {
    display: none;
  }
  .header__phone {
    font-size: 14px;
  }
  .header .button {
    width: 133px;
  }
  .promo__header {
    font-weight: 700;
    font-size: 25px;
    margin: 20px auto;
  }
  .promo__subheader {
    font-size: 15px;
    margin: 0 auto;
    text-align: center;
  }
  .promo__wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .promo__icons {
    width: 318px;
  }
  .promo .button_main {
    width: 260px;
    margin: 67px auto;
  }
  .promo__link {
    margin-top: -46px;
  }
  .advantages {
    padding: 30px 0 65px 0;
  }
  .advantages h2.title {
    font-size: 24px;
  }
  .advantages__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 10px;
  }
  .advantages__item {
    margin: 20px auto;
  }
  .advantages__subtitle {
    font-size: 22px;
  }
  .advantages__descr {
    font-size: 20px;
    width: 310px;
  }
  .consultation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .consultation .title_left {
    font-size: 33px;
    line-height: 40px;
    padding-left: 10px;
  }
  .consultation__descr {
    padding-left: 10px;
  }
  .consultation .feed-form {
    margin: 36px auto;
  }
  .consultation .feed-form input {
    width: 100%;
  }
  .carousel ul.slick-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    list-style-type: none;
    padding-left: 0;
  }
  .carousel button {
    color: black;
    background-color: black;
    width: 22px;
    height: 22px;
  }
  .catalog {
    width: auto;
  }
  .catalog ul {
    margin-top: 22px;
  }
  .catalog ul li {
    font-size: 9px;
    width: 220px;
    line-height: none;
    list-style-type: none;
  }
  .catalog-item {
    margin: 5px auto;
  }
  .feedback {
    min-height: -webkit-min-content;
    min-height: -moz-min-content;
    min-height: min-content;
    padding: 0 10px 49px 10px;
  }
  .feedback__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
  }
  .feedback__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .feedback__item img {
    margin: 20px auto;
  }
  .feedback__text {
    padding: 0 10px;
  }
  .feedback__subtitle {
    text-align: center;
  }
  .feedback__count {
    text-align: center;
  }
  .footer__info {
    width: 100%;
    padding: 50px 10px 60px 10px;
    height: 235px;
  }
  .footer__map {
    height: 400px;
  }
  .footer__addr {
    font-size: 18px;
  }
  .footer__phone {
    font-size: 18px;
  }
  .modal {
    width: 310px;
    padding: 30px 5px 5px 5px;
  }
  .modal__close {
    right: 0px;
  }
}/*# sourceMappingURL=style.css.map */